- @hide_top_links = true
- page_title    _("Projects")
- header_title  _("Projects"), dashboard_projects_path

= content_for :above_breadcrumbs_content do
  = render_if_exists "shared/gold_trial_callout"

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

= render 'explore/projects/nav'
= render 'projects', projects: @projects
